body{
  background-color: #f1f2f8!important;
}
.App {
  text-align: center;
}
.p-0{
  padding:0
}
.m-tb-10{
  margin-top: 13px;
  margin-bottom: 10px;
}
.card{
  background-color: #FFFFFF;
  margin-bottom: 15px;
  -webkit-box-shadow: 4px 5px 0px -3px rgba(112,112,112,0.34);
  -moz-box-shadow: 4px 5px 0px -3px rgba(112,112,112,0.34);
  box-shadow: 4px 5px 0px -3px rgba(112,112,112,0.34);
  border-radius: 0px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.portion{
  text-transform: uppercase;
   font-weight: 700; float: left; margin-top: 20px;
}
.bg-blue{
  background-color: #2276ccbd;margin: 20px 0px ;
}
.card:hover{
  -webkit-box-shadow: 0px 12px 8px -3px rgba(112,112,112,0.34);
  -moz-box-shadow: 0px 12px 8px -3px rgba(112,112,112,0.34);
  box-shadow: 0px 12px 8px -3px rgba(112,112,112,0.34);
}
.chart{
  margin:20px 0px; border-radius: 15px; overflow: hidden;
}
input{
  width: 100%;
  padding: 10px 20px;
  background-color: #83a8ce00;
  border-radius: 10px;
  border:1px solid;
  box-sizing: border-box;
  margin:10px 0px;
  overflow: hidden;
}
input:focus {
  background-color: #83a8ce00;
  border-radius: 10px;
  border:1px solid #ffffff;
  box-shadow: none;
}
input:hover{
  border:1px solid #ffffff;
}
button{
  width: 100%;
  padding: 10px 20px;
  background-color: #83a8ce00;
  border-radius: 10px;
  border:1px solid black;
  box-sizing: border-box;
  font-size:18px ;
  color: #ffffff;
  font-weight: 700;
}
.elec_icon{ color: rgb(103, 183, 220)}
.solar_icon{ color: rgb(103, 148, 220)}
.gas_icon{color: rgb(103, 113, 220)}
.wind_icon{color: rgb(128, 103, 220)}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#ffffff;
  opacity: 1; /* Firefox */
  padding-left: 10px;
}



